
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.main-container{
  width: auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to top, rgba(0,0,0,0.8) 0, rgba(0,0,0,0) 60%, rgba(0,0,0,0.9) 100%), url('C:\Users\ameen\Desktop\search\movie-search\src\assets\Picsart_23-08-05_18-11-49-932.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  }